{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
{% block content %}
<div class="container m-1" style=" height: 15rem; background-color: #cadfed; border-radius: 25px;" mt-2>
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="text-center">Revise A Level and GCSE Computer Science</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2 class="text-center">A level & GCSE Revision Tools.</h2>
  </div>
  <div class="row justify-content-center">
    {% if not request.user.is_authenticated %}
      <div class="row justify-content-center">
        <div class = "col">
    <form method="get" action="{% url "register" %}">
          <button class="btn btn-primary" style=" width: 15rem; border-radius: 10px" type="submit">Sign Up</button>
    </form>
    </div>
      </div>
    {% endif %}
  </div>
</div>



<div class="row justify-content mt-auto">

{% for card in homepagetoppost_list %}
   <div class="col-lg-4 col-md-5 col-sm-12 mt-2">
    <div class="card" style=" width: 25rem; height: 37rem;  border-radius: 25px; background-color: #cadfed">
      <img src= "{{card.upload.url}}" class="card-img-top m-3" style="width: 23rem; height: 15rem; border-radius: 25px;"  alt="...">
        <div class="card-body">
          <h3 class="card-title"><b>{{card.title}}</b></h3>
          <p class="card-text">{{card.message|linebreaks }}</p>

        </div>
   </div>
 </div>
{% endfor %}
</div>
<div class="row justify-content mt-auto">
{% for image in galleryimages_list %}
   <div class="col-lg-4 col-md-5 col-sm-12  mt-2">
    <div class="card" style=" width: 25rem; border-radius: 25px; background-color: #cadfed">
      <img src= "files/{{image.image}}" class="card-img-top m-3" style="width: 23rem; height: 15rem; border-radius: 25px;"  alt="...">
      <div class="card-body">
        <h3 class="card-title"><b>{{image.caption|linebreaks}}</b></h3>
      </div>
   </div>
 </div>
{% endfor %}
</div>








{% endblock  %}
